.todos-page {
  margin: 0 auto;
  width: 600px;
}

.todo-list > .todo-list-element {
  margin-bottom: 12px;
}

.todo-list-element {
  display: flex;
}

.todo-list-element-title {
  margin-right: 5px;
  margin-left: 5px;
}

.todo-list-element-delete {
  margin-left: auto;
}

.todo-element-completed .todo-list-element-title{
  text-decoration: line-through;
}

.add-todo {
  margin-bottom: 15px;
}
